body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas {
  border: 1px solid #000;
}
button {
  padding: 10px 20px;
  margin-top: 10px;
  background: royalblue;
  border: none;
  border-radius: 20px;
  color: #fff;
}
