/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
section {
  background: slategray;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 50px;
  color: #222;
  margin-bottom: 20px;
}
ul {
  display: flex;
  width: 400px;
  flex-flow: wrap;
}
li {
  width: calc(100% / 9 - 4px);
  height: 30px;
  background: lightblue;
  margin: 0 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
