.TodoEditor .editor_wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}
.TodoEditor input {
  flex: 1;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}
.TodoEditor input:focus {
  outline: none;
  border: 1px solid rgb(224, 121, 181);
}
.TodoEditor button {
  cursor: pointer;
  width: 80px;
  border: none;
  background: rgb(224, 121, 181);
  border-radius: 5px;
  color: #fff;
}
.TodoEditor button:hover {
  background: #fff;
  color: rgb(224, 121, 181);
  border: 1px solid rgb(224, 121, 181);
}
